{
    "ip.resolver" : "http://ipv4.icanhazip.com/",
	"godaddy": {
		"api.key": "",
		"api.secret": "",
		"domains": [{
			"domain": "example.com",
			"a-records": ["www.example.com", "test.example.com"]
		},
		{
			"domain": "example.org",
			"a-records": ["@"]
		}
		]
	},
	"haproxy.restart": false
}