{
    "ip.resolver" : "http://ipv4.icanhazip.com/",
	"godaddy": {
		"api.key": "",
		"api.secret": "",
		"domains": [{
			"domain": "example.com",
            "records": [ { "name": "www", "type": "A" } ]

		},
		{
			"domain": "example.org",
            "records": [ { "name": "www", "type": "A" } ]
		}
		]
	},
	"haproxy.restart": false
}