{
    "ip.resolver" : "http://ipv4.icanhazip.com/",
    "test" : true,
    "godaddy": {
		"api.key": "",
		"api.secret": "",
		"domains": [
		    { "domain": "example.com", "records": [
		        {"type": "A","name": "www" }
		    ] },
            { "domain": "example.org",
                  "records": [{"type": "A","name": "www" } ]
            }
        ]
	}
}