{
    "ip.resolver" : "http://ipv4.icanhazip.com/",
	"godaddy": {
	    "test" : true,
		"api.key": "",
		"api.secret": "",
		"domains": [
		    { "domain": "example.com", "records": [
		        {"type": "A","name": "wwww" }
		    ] },
            { "domain": "example.org",
                  "records": [{"type": "A","name": "wwww" } ]
            }
        ]
	}
}